{% extends 'base.html' %}

{% block title %}Contacts{% endblock title %}

{% block content %}

<section class="flex items-center justify-center mt-10">
    <div class="w-full">
        <div class="flex items-center justify-center mb-4">
            <h1 class="text-4xl font-bold">Search for contacts</h1>
        </div>
        <div class="flex items-center justify-center gap-4">
            <input type="text" class="border-slate-700 border-2 rounded-md bg-slate-800 w-1/2 h-10"/>
            <button class="bg-slate-800 h-10 px-2 border-slate-700 border-2 rounded-md">Search</button>
        </div>
    </div>
</section>

<section class="mt-10">
    {% for contact in user_contacts %}
        <div class="grid grid-flow-col justify-between my-4 p-4 w-full bg-slate-800 rounded-md border-l-8 border-cyan-400">
            <div class="flex flex-col my-auto">
                <div class="font-bold text-2xl">
                    {{ contact.get_full_name }}
                </div>

                {% if contact.email %}
                    <div>
                        {{ contact.email }}
                    </div>
                {% else %}
                    <div class="text-gray-400">
                        No email address
                    </div>
                {% endif %}

                {% if contact.phone %}
                    <div>
                        {{ contact.phone }}
                    </div>
                {% else %}
                    <div class="text-gray-400">
                        No phone number
                    </div>
                {% endif %}
            </div>
            <div class="flex justify-center my-auto">
                {{ contact.get_formatted_address }}
            </div>
            <div class="flex justify-center my-auto">
                {{ contact.notes }}
            </div>
        </div>
    {% empty %}
        <div class="flex items-center justify-center mt-10">
            <p class="text-2xl font-bold text-gray-400">No contacts found</p>
        </div>
    {% endfor %}
</section>

{% endblock content %}